form {
	padding: 1%;
	border: 1px solid black;
	width: 40%;
	margin: 0px auto;
	margin-bottom: 3% ;
}
body {
	font-family: trebuchet ms;
}
form img {
	display: block;
}
form label {
	display: block;
	font-weight: bold;
}
form button {
	display: block;
	border: none;
	background: orange;
	color: white;
	padding: 1% 2% 1% 2%;
}
form input {
	padding: 1%;
	margin-bottom: 1%;
}
.updateWrapper {
	padding: 2%;
	border: 1px solid black;
}
table {
	border: 1px solid black;
	border-collapse: collapse;
	margin-top: 2%;
	width: 60%;
	margin: 0px auto;
	text-align: center;
}
table tr {
	border-bottom: 1px solid gray;
}
table button {
	display: block;
	border: none;
	background: hsl(80,100%,30%);
	padding: 5%;
	color: white;
	width: 100%;
	height: 100%;	
}